/dist/*
/node_modules/*
/vendor/*

*.sublime-project

*.sublime-workspace
.gulprc
*.yml
*.js
*.php
Makefile
.babelrc
.DS_Store
.editorconfig
.editorconfig
.gitattributes
.gulprc.example
package.json
*.json
