/**
 *
 *  Set up your container grid with the first two properties:
 *
 *  --ColumnCount:
 *
 *      Number of columns.
 *
 *  --ColumnDecimal:
 *
 *      Width of a single grid column as a decimal.
 *
 *      60px / 960px = .0625
 *
 *      7% = .07
 *
 */
:root {
    --ColumnCount: 12;
    --ColumnDecimal: .07;
}

/**
 *
 *  You don't need to edit any of this - unless you have outside gutters etc.
 *
 */
:root {
    --GutterCount: calc(var(--ColumnCount) - 1);
    --GutterDecimal: calc((1 - (var(--ColumnCount) * var(--ColumnDecimal))) / var(--GutterCount));

    --ColumnUnit: calc(var(--ColumnDecimal) * var(--ContainerWidth));
    --GutterUnit: calc(var(--GutterDecimal) * var(--ContainerWidth));
}

/**
 *
 *  Set your --ContainerWidth.
 *
 *  You can use:
 *  Viewport Units, Pixels, Rems, Calc();
 *
 *  No percentages, they are _relative_ to their parent element. You can substitute them for VW.
 *
 *  - - - - - - - - - -
 *
 *  Update your --ContainerWidth at any breakpoints you need.
 *
 *  @media (min-width: 1280px) {
 *      :root {
 *          --ContainerWidth: 1200px;
 *      }
 *  }
 *
 */
:root {
    --ContainerWidth: 90vw;
}

/**
 *
 *  Apply your --ContainerWidth.
 *
 */
.container {
    width: var(--ContainerWidth);
}

/**
 *
 *  Width: number of columns, plus the gutters in-between.
 *
 *  ⌜--------- 4 ---------⌝       ⌜------ 3 ------⌝
 *  [   ] [   ] [   ] [   ] [   ] [   ] [   ] [   ]
 *
 *
 *  <section class="columnspan columnspan-4 columnspan-8@tablet"> ...
 *
 */
.columnspan {
    width: calc(var(--ColumnSpan) * var(--ColumnUnit) + ((var(--ColumnSpan) - 1) * var(--GutterUnit)));
}

.columnspan-4 {
    --ColumnSpan: 4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .columnspan-8\@tablet {
        --ColumnSpan: 8;
    }
}

/**
 *
 *  Width: Number of columns, no gutters.
 *
 *           ×4
 *  [×××][×××][×××][×××]
 *
 */
.columns {
    width: calc(var(--Columns) * var(--ColumnUnit));
}

.column-4 {
    --Column: 4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .column-8\@tablet {
        --Column: 8;
    }
}

/**
 *
 *  Width: number of gutters, plus the columns inbetween.
 *
 *       ⌜------- 4 -------⌝
 *  [   ] [   ] [   ] [   ] [   ]
 *
 *  <section class="gutterspan gutterspan-4 gutterspan-8@tablet"> ...
 *
 */
.gutterspan {
    width: calc(var(--GutterSpan) * var(--GutterUnit) + ((var(--GutterSpan) - 1) * var(--ColumnUnit)));
}

.gutterspan-4 {
    --GutterSpan: 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .gutterspan-8 {
        --GutterSpan: 1;
    }
}

/**
 *
 *  Width: Number of gutters, no columns.
 *
 *        ×4
 *  [   ]××××[   ]
 *
 *  <section class="gutters gutters-4 gutters-8@tablet"> ...
 *
 */
.gutters {
    width: calc(var(--Gutters) * var(--GutterUnit));
}

.gutters-1 {
    --Gutters: 1;
}

/**
 *
 *  Mix your own Columns and Gutters.
 *
 *  <section class="mix mix-4\2 mix-4/2@tablet"> ...
 *
 */
.mix {
    width: calc(var(--Columns) * var(--ColumnUnit) + (var(--Gutters) * var(--GutterUnit)));
}

.mix-4\/2 {
    --Columns: 4;
    --Gutters: 2;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .mix-4\/2\@tablet {
        --Columns: 4;
        --Gutters: 2;
    }
}
